<div class="relative" x-data="{ open: false }" @click.away="open = false">
  <button
    type="button"
    @click="open = !open"
    class="flex items-center gap-1.5 text-xs font-medium opacity-75 hover:opacity-100 transition-opacity px-2 py-1"
    :aria-expanded="open"
  >
    <span>{{ localization.language.endonym_name | capitalize }}</span>
    <svg class="w-3 h-3 transition-transform" :class="open && 'rotate-180'" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
    </svg>
  </button>

  <div
    x-show="open"
    x-transition
    class="absolute right-0 mt-2 w-40 rounded shadow-lg bg-[rgb(var(--color-background))] border border-current/10 z-50"
    style="display: none;"
  >
    <ul role="list" class="py-1" @click="open = false">
      {%- for language in localization.available_languages -%}
        <li>
          <a
            href="#"
            lang="{{ language.iso_code }}"
            data-value="{{ language.iso_code }}"
            class="flex items-center gap-2 px-4 py-2 text-sm hover:bg-current/5"
            @click.prevent="$el.closest('form').querySelector('input[name=locale_code]').value = '{{ language.iso_code }}'; $el.closest('form').submit();"
          >
            <span class="w-4">
              {%- if language.iso_code == localization.language.iso_code %}
                <svg class="w-3 h-3" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
                </svg>
              {% endif -%}
            ></span>
            <span>{{ language.endonym_name | capitalize }}</span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
<input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
