<ul class="flex w-full items-center gap-3 {{ icon_size_class | default: 'w-8 h-8' }}" role="list">
  {%- if settings.social_facebook_link != blank -%}
    <li class="">
      <a
        href="{{ settings.social_facebook_link }}"
        class="{{ icon_size_class | default: 'w-8 h-8' }} flex items-center justify-center opacity-75 hover:opacity-100 transition-opacity"
        target="_blank"
        rel="noopener"
        ><span class="object-cover w-full">{{- 'icon-facebook.svg' | inline_asset_content -}}</span
        ><span class="sr-only">Facebook</span></a
      >
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li>
      <a
        href="{{ settings.social_instagram_link }}"
        class="{{ icon_size_class | default: 'w-8 h-8' }} flex items-center justify-center opacity-75 hover:opacity-100 transition-opacity"
        target="_blank"
        rel="noopener"
        ><span class="object-cover w-full">{{- 'icon-instagram.svg' | inline_asset_content -}}</span
        ><span class="sr-only">Instagram</span></a
      >
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li>
      <a
        href="{{ settings.social_youtube_link }}"
        class="{{ icon_size_class | default: 'w-8 h-8' }} flex items-center justify-center opacity-75 hover:opacity-100 transition-opacity"
        target="_blank"
        rel="noopener"
        ><span class="object-cover w-full">{{- 'icon-youtube.svg' | inline_asset_content -}}</span
        ><span class="sr-only">YouTube</span></a
      >
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li>
      <a
        href="{{ settings.social_tiktok_link }}"
        class="{{ icon_size_class | default: 'w-8 h-8' }} flex items-center justify-center opacity-75 hover:opacity-100 transition-opacity"
        target="_blank"
        rel="noopener"
        ><span class="object-cover w-full">{{- 'icon-tiktok.svg' | inline_asset_content -}}</span
        ><span class="sr-only">TikTok</span></a
      >
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li>
      <a
        href="{{ settings.social_twitter_link }}"
        class="{{ icon_size_class | default: 'w-8 h-8' }} flex items-center justify-center opacity-75 hover:opacity-100 transition-opacity"
        target="_blank"
        rel="noopener"
        ><span class="object-cover w-full">{{- 'icon-twitter.svg' | inline_asset_content -}}</span
        ><span class="sr-only">Twitter</span></a
      >
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li>
      <a
        href="{{ settings.social_pinterest_link }}"
        class="{{ icon_size_class | default: 'w-8 h-8' }} flex items-center justify-center opacity-75 hover:opacity-100 transition-opacity"
        target="_blank"
        rel="noopener"
        ><span class="object-cover w-full">{{- 'icon-pinterest.svg' | inline_asset_content -}}</span
        ><span class="sr-only">Pinterest</span></a
      >
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li>
      <a
        href="{{ settings.social_snapchat_link }}"
        class="{{ icon_size_class | default: 'w-8 h-8' }} flex items-center justify-center opacity-75 hover:opacity-100 transition-opacity"
        target="_blank"
        rel="noopener"
        ><span class="object-cover w-full">{{- 'icon-snapchat.svg' | inline_asset_content -}}</span
        ><span class="sr-only">Snapchat</span></a
      >
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li>
      <a
        href="{{ settings.social_tumblr_link }}"
        class="{{ icon_size_class | default: 'w-8 h-8' }} flex items-center justify-center opacity-75 hover:opacity-100 transition-opacity"
        target="_blank"
        rel="noopener"
        ><span class="object-cover w-full">{{- 'icon-tumblr.svg' | inline_asset_content -}}</span
        ><span class="sr-only">Tumblr</span></a
      >
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li>
      <a
        href="{{ settings.social_vimeo_link }}"
        class="{{ icon_size_class | default: 'w-8 h-8' }} flex items-center justify-center opacity-75 hover:opacity-100 transition-opacity"
        target="_blank"
        rel="noopener"
        ><span class="object-cover w-full">{{- 'icon-vimeo.svg' | inline_asset_content -}}</span
        ><span class="sr-only">Vimeo</span></a
      >
    </li>
  {%- endif -%}
</ul>
